/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.ts-control {
  background: none!important;
  color: white!important;
  border-color: #515151; /* Matches the colour of standard control */
}

:root {
  --btn-radius: 10px;
  --tag-outside-colour: blue;
  --tag-delete-icon-colour: lightgray;
  --btn-disabled-colour: darkslategray;
  --page-button-radiug-large: 30px;
}

.index-data-row {
  margin-bottom: 0.5rem;
}

.index-data-row-col {
  /*todo: add styling*/
}

.index-data-row.user-data-display {
  /*todo: add text wrapping and make sure this selector thing actually applies to what I want*/
}

.index-row-col-btn {
  max-width: 20%;
}

.tag-display {
  border-color: var(--tag-outside-colour);
  border-width: 1px;
  border-style: solid;
  border-radius: var(--btn-radius);
  padding: 2px;
  white-space: nowrap;
}

.multiline-tags-container {
  line-height: 200%;
}

.tag-display-with-removal {
  padding: 2px 0 2px 7px;
  margin-right: 4px;
}

.tag-name-entry-assign {
  border-color: var(--tag-outside-colour);
  border-width: 1px;
  border-style: solid;
  border-radius: var(--btn-radius) 0 0 var(--btn-radius);
  margin-right: 0;
  padding-bottom: 2px;
}

.tag-assign-btn {
  background-color: inherit;
  border-color: var(--tag-outside-colour);
  border-width: 1px;
  border-style: solid;
  border-radius: 0 var(--btn-radius) var(--btn-radius) 0;
  margin-left: 0;
  padding: 2px;
}

.tag-assign-btn:hover {
  background-color: darkblue;
}

.tag-display.tag-assign-btn:active {
  background-color: var(--tag-outside-colour);
}

.delete-btn {
  padding: 1px;
  border: 1px solid var(--tag-outside-colour);
  border-left: none;
  border-right: none;
  background-color: var(--tag-outside-colour);
  border-bottom-right-radius: var(--btn-radius);
  border-top-right-radius: var(--btn-radius);
  display: inline;
  line-height: normal;
}

.delete-btn > i {
  color: var(--tag-delete-icon-colour);
  font-size: 80%;
}

.delete-btn:active {
  background-color: var(--tag-delete-icon-colour);
}

.delete-btn:active > i {
  color: var(--tag-outside-colour);
}

.delete-btn:disabled {
  background-color: var(--tag-outside-colour);
}

.delete-btn:disabled > i {
  color: var(--btn-disabled-colour);
}

.ts-control input {
  color: white!important;
}

.page-changer {
  border-color: lightblue;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--btn-radius);
}

.page-changer:hover {
  background-color: darkblue;
}

.page-changer:active {
  background-color: lightblue;
}

.previous {
  border-bottom-left-radius: var(--page-button-radiug-large);
  border-top-left-radius: var(--page-button-radiug-large);
}

.next {
  border-bottom-right-radius: var(--page-button-radiug-large);
  border-top-right-radius: var(--page-button-radiug-large);
}

.tag-background-pill {
  background: unset;
  padding: 2px;
  border-radius: var(--btn-radius);
}

.tag-background-pill-text {
  mix-blend-mode: difference;
}
