@model Rinkudesu.Gateways.Clients.LinkTags.LinkTagDto

<div class="mt-2">
    <form asp-action="Assign" id="assignTag">
        <input type="hidden" asp-for="LinkId"/>
        @*todo: this should support autocompletion*@
        <input asp-for="TagId" class="tag-name-entry-assign"/>
        <button type="submit" class="tag-display tag-assign-btn"><i class="fa-regular fa-plus"></i></button>
    </form>
</div>
