@model Rinkudesu.Gateways.Clients.LinkTags.LinkTagDto

<div class="mt-2">
    <form asp-action="Assign" id="assignTag">
        <input type="hidden" asp-for="LinkId"/>
        <div class="col-6">
            <div class="input-group" id="tag-assignment">
                <select class="tags-autocompletion tag-name-entry-assign" asp-for="TagId"></select>
                <button type="submit" class="tag-display tag-assign-btn"><i class="fa-regular fa-plus"></i></button>
            </div>
        </div>
    </form>
</div>
