@model Rinkudesu.Gateways.Clients.Tags.TagDto
<div class="mb-3">
    <label class="form-label" asp-for="Name"></label>
    <input class="form-control" asp-for="Name"/>
</div>
<div class="mb-3">
    <label class="form-label" asp-for="Colour"></label>
    <input class="form-control" asp-for="Colour" type="color"/>
</div>
