@model Rinkudesu.Gateways.Clients.Tags.TagDto
@inject IViewLocalizer Localizer

<form asp-action="Create" asp-antiforgery="true">
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Name" class="form-label"></label>
        </div>
        <div class="col-5">
            <input class="form-control" asp-for="Name"/>
        </div>
        <div class="col-2">
            <input asp-for="Colour" class="form-control" type="color"/>
        </div>
        <div class="col-3">
            <input type="submit" id="tag_create_quick" class="btn btn-primary" value="@Localizer["create"]"/>
        </div>
    </div>
</form>
