@using Rinkudesu.Gateways.Clients.Tags
@using System.Text.Json
@using System.Text.Json.Serialization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TagIndexQueryModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["title"];
    Layout = "_Layout";
    var queryJson = JsonSerializer.Serialize(Model, new JsonSerializerOptions { DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull });
}

<span hidden id="translations" data-load-failed="@Localizer["data-load-failed"]"></span>

<h2>@Localizer["title"]</h2>

@await Html.PartialAsync("_QuickCreatePartial", new TagDto())

<div id="content">
    <span hidden id="query" data-value="@queryJson"></span>
    @Localizer["loading"]...
</div>
<div class="row" id="page-selection">
    <div class="col-4">
        <a id="page-prev" class="page-changer previous btn">Previous</a>
        <a id="page-next" class="page-changer next btn">Next</a>
    </div>
</div>

<script src="~/js/tagContentLoader.js" asp-append-version="true"></script>
<script src="~/js/dynamicContentLoader.js" asp-append-version="true"></script>
