@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["title"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["helloText"]</h1>
    <hr/>
    <h3>DEBUG</h3>
    <form asp-controller="UserSession" asp-action="DeleteUser" asp-antiforgery="true">
        <input class="btn btn-danger" type="submit" value="Simulate user deletion"/>
    </form>
</div>
