@model Rinkudesu.Gateways.Clients.Identity.UserDetailsDto
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["title"];
    Layout = "_Layout";
    var isSuccess = (bool)ViewBag.IsSuccess;
}

<h2>@Localizer["accountManagement"]</h2>

@if (isSuccess)
{
    <div class="alert alert-success" role="alert">
        @Localizer["changesSaved"]
    </div>
}

@await Html.PartialAsync("_ChangePasswordPartial", new PasswordChangeViewModel())
<hr/>
@await Html.PartialAsync("_LogOutEverywhere")
