@model ForgotPasswordViewModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["title"];
    Layout = "_Layout";
}

<h2>@Localizer["title"]</h2>

@if (!string.IsNullOrEmpty(ViewBag.Submitted))
{
    <div class="alert alert-success" role="alert">
        <p>@Localizer["submitted"]</p>
    </div>
}

<form asp-action="ForgotPassword" asp-antiforgery="true">
    <div class="row mb-2">
        <div class="col-12 mb-0">
            <label asp-for="Email"></label>
        </div>
        <div class="col-12 mb-0">
            <input class="form-control" asp-for="Email"/>
        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-10 d-flex">
            <input type="submit" class="btn btn-primary flex-fill" value="@Localizer["reset"]"/>
        </div>
    </div>
</form>
