@model Rinkudesu.Gateways.Webui.Models.LinkIndexViewModel
@inject IViewLocalizer Localizer

<form asp-action="QuickCreate" asp-antiforgery="true">
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="LinkUrl" class="form-label"></label>
        </div>
        <div class="col-7">
            <input class="form-control" name="url" asp-for="LinkUrl"/>
        </div>
        <div class="col-3">
            <input type="submit" class="btn btn-primary" value="@Localizer["quickAdd"]"/>
        </div>
    </div>
</form>
