@inject IViewLocalizer Localizer
@model Rinkudesu.Gateways.Webui.Models.LinkIndexViewModel

@{
    ViewBag.Title = Localizer["title"];
    Layout = "_Layout";
}

<h2>@Localizer["title"]</h2>

<form asp-action="Create" asp-antiforgery="true">
    @await Html.PartialAsync("_FormFields")
    <div class="mb-3">
        <label asp-for="TagIds"></label>
        <select class="tags-autocompletion" data-allow-create="true" asp-for="TagIds"></select>
    </div>
    <div class="mb-3">
        <input class="btn btn-primary" type="submit" id="link_create_submit" value="@Localizer["add"]"/>
    </div>
</form>

<a asp-action="Index" class="btn btn-dark">@Localizer["cancel"]</a>
