@using Rinkudesu.Gateways.Clients.Links
@model System.Collections.Generic.List<Rinkudesu.Gateways.Clients.Links.LinkDto>

@{
    ViewBag.Title = "Links";
    Layout = "_Layout";
}

<h2>Links</h2>

@*TODO: this should be hidden in a modal or otherwise not take up a lot of screen space in here*@
@await Html.PartialAsync("_CreatePartial", new LinkDto())

@foreach (var link in Model)
{
    <div>@link.LinkUrl</div>
}