@using Rinkudesu.Gateways.Clients.Links
@model System.Collections.Generic.List<Rinkudesu.Gateways.Clients.Links.LinkDto>

@{
    ViewBag.Title = "Links";
    Layout = "_Layout";
}

<h2>Links</h2>

@await Html.PartialAsync("_QuickCreatePartial", new LinkDto())
<a asp-action="Create" class="btn btn-dark">Create</a>

@foreach (var link in Model)
{
    <div class="row mb-2">
        <div class="col">
            @link.LinkUrl
        </div>
        <div class="col">
            @await Html.PartialAsync("_DeletePartial", link)
        </div>
    </div>
}