@using Rinkudesu.Gateways.Webui.Utils
<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <a href="http://localhost:8080/auth/realms/rinkudesu/account" target="_blank" class="btn btn-primary">Hello @User.Identity.Name</a> @*TODO: read from file*@
        <form asp-controller="UserSession" asp-action="Logout" asp-antiforgery="true">
            <input type="submit" value="Logout" class="btn btn-secondary"/>
        </form>
    }
    else
    {
        <form asp-controller="UserSession" asp-action="Login" asp-antiforgery="true" method="get">
            <input type="hidden" name="returnUrl" value="@Context.GetCurrentUrl()"/>
            <input type="submit" class="btn btn-secondary" value="Login"/>
        </form>
    }
</ul>