@model Rinkudesu.Gateways.Clients.Links.LinkDto
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Link";
    Layout = "_Layout";
}

<div class="row">
    <p>@Localizer["sharedLinkInfo"]</p>
</div>

<hr/>
@await Html.PartialAsync("_LinkDetails", Model)
